/* For Adjusting Container center of the screen */
body{
    background: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    /* justify-content: center; */
    font-family: Arial, Helvetica, sans-serif;
}
/* Container */
.container{

    min-width: 420px;
    height: 98vh;
}
/* Form Inside Container */
.container form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background: #fff;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 70%;
    border-radius: 5px;
}
/* Heading (Signup) */
h1{
    color: #2b2b2b;
    text-align: center;
}
/* Input Lables */
label{
    display: block;
}
/* Selection All These for styling */
form div,input,select,div.signup>button{
    outline: none;
    width: 99.2%;
}
/* input and optionlist */
input,select{
    padding: 5px 0;
}
/* Styling Button */
button{
    
    padding: 4px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    border: none;
}