@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
body{
  font-family: Montserrat;
  
  background-color: #242B2E;
}
/* HEADING */
h1{
  font-weight: 500;
}
header h1{
  text-align: center;
  color: #FE6666;
}
/* CONTAINER OF HTML,CSS & JAVASCRIPT */
.container{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  padding: 0 20px;
  justify-content: center;
}
.container h1{
  text-align: center;
  margin-bottom: 0;
}

/* FLEX ITEMS */
.f-item{
margin: auto 5px;
width: 300px;
border: 3px solid #000;
height: 550px;
}
.img-container{
  display: flex;
  justify-content: center;
}
.f-item img{
display: block;
width: 100px;
height: 100px;
}
.f-item-1{
  background-color: #35BDD0;
}
.f-item-2{
  background-color: #DE3A8A;
}
.f-item-3{
  background-color:#5A20CB ;
}
.about p{
  font-weight: 400; 
  font-size: 14px;
  padding: 0 10px;
}