@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
button{
  padding: 15px 50px;
  border-radius:10px;
  border: none;
  font-weight: 800;
  color: #fff;
  background: linear-gradient(to right,#4567DD,#3C33C2);
  cursor: pointer;
  position: relative;

  animation: top-down 0.8s ease-in 0s infinite  alternate ;
  
}
/* Animation For Button */
@keyframes top-down {

  from{
    top:0px;
   
  }
  to{
    top:-50px;

  }
  
}

/* For Centering Button On Screen */
body{
  
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;

}