@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: manrope;
    color:#fff;

    
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    height: 100vh;
}
a{
    color:inherit;
    text-decoration: none;
}
footer{
    grid-area: footer;

    height: fit-content;
    background-color: #121315;
    align-self: end;

}

/*  Footer (ELEMENT) Container */
.container{
    margin-top: 58vh;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

    /* For All Columns */

    .col{
    width: fit-content;
    /* padding: 80px 50px auto 50px ; */
    padding: 80px 50px 0 50px;
    /* padding-top: 80px; */
    }


    /* One Card Column */
    .col-1{
        flex-basis: 400px;
        justify-self: center;
        /* flex-shrink: 2; */
    }
    .col p,li{
        font-size: 12px;
        /* text-align: justify; */
    }


    /* Navigation Column */
    .col-2{
        /* flex-shrink: 1; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-evenly;
    
    }

    /* Li inside 2nd Column i.e Navigation Column */
    li{
    padding: 10px 0;
    list-style: none;
    }
    .right{
    margin-left: 50px;
    /* float: right; */
    }

    /* Below Are Items Within Column-3 */
    
    input,button{
    /* margin: 10px; */
    padding: 8px 10px;
    width: 220px;
    display: block;
    border: none;
    border-radius: 5px;
    }
    input{
    outline: none;
    margin-top: 10px;
    }
    button{
    color: #fff;
    background-color: #1792F6;
    margin-top: 4px;
    }
